<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <GameTracker.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>F1B4C7CA29E7DEC50D5F81357DC09CE5</value>
            </setting>
            <setting name="SteamBaseURL" serializeAs="String">
                <value>http://api.steampowered.com</value>
            </setting>
        </GameTracker.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GameTracker.Properties.Settings>
            <setting name="PaoloID" serializeAs="String">
                <value>76561197994867585</value>
            </setting>
            <setting name="FabianoID" serializeAs="String">
                <value>76561197971749060</value>
            </setting>
        </GameTracker.Properties.Settings>
    </userSettings>
</configuration>
